LowerBar {
  -fx-background-color: 
      linear-gradient(#033663 30%,#190363);
  -fx-border-radius: 0;
  -fx-border: 1px;
  -fx-border-color: #190363;
}

LowerBarInitButton {
  -fx-background-color: #012657;
  -fx-background-image: url("/resources/images/manel.jpeg");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: cover;
}

LowerBarInitButton:hover {
  -fx-background-color: #01214a;
}

LowerBarApplicationButton {
  -fx-background-color: #006eff;
  -fx-border: 4px;
  -fx-border-color: #000813;
}

LowerBarApplicationButton .label .text {
  -fx-fill: white;
}