WorkArea {
  -fx-background-image: url("/resources/images/plano-de-fundo.jpg");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: cover;
}

InternalStage {
  -fx-background-color: white;
}