WorkAreaIcon {
  -fx-border: 1px;
  -fx-border-color: transparent;
  -fx-padding: 2px;
}
WorkAreaIcon:hover {
  -fx-border-color: rgb(99, 147, 249);
}

WorkAreaIcon .label .text {
  -fx-fill: white;
  -fx-stroke: black;
  -fx-stroke-width: 0.5px;
}