ProcessWaitView {
  -fx-background-color: white;
  -fx-border-color: black;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-padding: 2px;
}

InMemoryProcessView {
  -fx-border-color: blue;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-padding: 2px;

  -fx-pref-width: 190px;
}

FreeSpaceView {
  -fx-border-color: yellow;
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-padding: 2px;

  -fx-pref-width: 190px;
}

#upButton {
  -fx-background-image: url("../image/up-arrow.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 25 25;
  -fx-background-position: center center;
}

#downButton {
  -fx-background-image: url("../image/down-arrow.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 25 25;
  -fx-background-position: center center;
}